<!--  `editing`  `completed`  -->
<li [class.completed]="todo.completado"
    [class.editing]="editando">
    <div class="view">
      <input class="toggle" 
              type="checkbox" 
              [formControl]="chkCompletado"
              checked>

      <label (dblclick)="editar($event)">{{ todo.texto }}</label>

      <button (click)="borrar()" class="destroy"></button>
    </div>

    <input 
      class="edit" 
      value="Create a TodoMVC template"
      [formControl]="txtInput"
      (blur)="terminarEdicion()"
      #inputFisico>

</li>